_site
.sass-cache
Gemfile.lock
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Bazzi2276.github.io/v17/.suo
.vs/Bazzi2276.github.io/FileContentIndex/read.lock
.vs/Bazzi2276.github.io/FileContentIndex/8c225bec-70b5-4f66-9eba-c6fc92a4f2fc.vsidx
